
.modalBox{
    width: 300px;
    height: 300px; 
   position: absolute;
   display: block;
}
.backDrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
   
}